body {
	font-family: 'Roboto', sans-serif;
	display: flex;
	width: 100vw;
	height: 100vh;
	margin: 0;
	flex-direction: row-reverse;
}

main {
	position: relative;
	width: 64vw;
	background-color: $bg-color;
}
